# Databases
phishguard.db

# User Uploads
uploads/**
!uploads/.gitkeep

# Models and Datasets
*.pkl
*_Dataset/
models/*.pkl

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
ParsingContent.md